<section class="section">
  <div class="container">
    <h1 class="title">Work Experience</h1>

    <div class="card">
      <div class="card-content">
        <div class="content">
          <h2 class="is-size-4">Software Engineer - Kodiak Solutions</h2>
          <p class="has-text-weight-bold">May 2022 - Present</p>
          <ul>
            <li>
              Core member of platform level development team which led efforts
              improving firm code practices
            </li>
            <li>
              Built micro-service API to dynamically service micro-frontend
              configurations to user based on permissions, and allow for new
              micro-frontends to be easily added to the platform
            </li>
            <li>
              Automated build/release note creation and publication to wiki
              through CICD
            </li>
          </ul>
          <p>Kodiak Solutions was divested from Crowe October 2023.</p>
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-content">
        <div class="content">
          <h2 class="is-size-4">IT Assurance Staff - Crowe</h2>
          <p class="has-text-weight-bold">Aug 2021 - May 2022</p>
          <ul>
            <li>
              Conducted audits for SOC reports, HITRUST certifications, and PCI
              compliance
            </li>
            <li>
              Focused technical knowledge onto client technical requirements
              (backup schedules, network configurations, database access, etc.)
            </li>
            <li>
              Developed Bash and PowerShell scripts to automate evidence
              gathering of client system configurations, saving hours of audit
              time
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
