<section class="section">
  <div class="container">
    <h1 class="title">Movies</h1>
    <p class="subtitle">Here's an example project demonstrating CQRS</p>

    <div class="card">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          Movies
        </h2>
      </header>

      <div class="card-content">
        <div class="content">
          <table class="table" *ngIf="service.movieList$ | async as movies">
            <thead>
              <tr>
                <th>Title</th>
                <th>Director</th>
                <th class="is-hidden-mobile">ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movie of movies">
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td class="is-hidden-mobile">{{ movie.id }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
