<section class="section">
  <div class="container">
    <h1 class="title">Movies</h1>
    <p class="subtitle">Here's an example project demonstrating CQRS</p>

    <div class="card">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          Movies
        </h2>
      </header>

      <div class="card-content">
        <div class="content">
          {{ service.movieList$ | async | json }}
        </div>
      </div>
    </div>
  </div>
</section>
