<section class="section">
  <div class="container">
    <h1 class="title">Movies</h1>
    <p class="subtitle">Here's an example project demonstrating CQRS</p>

    <div class="card">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          Movies
        </h2>
        <button
          class="button is-primary card-header-icon my-auto mr-2"
          [class.is-loading]="isLoadingGetMovies"
          (click)="getMovies()"
          title="Reload"
        >
          <span class="icon">
            <i class="fas fa-arrows-rotate"></i>
          </span>
          <span>Reload</span>
        </button>
      </header>

      <div class="card-content">
        <div class="content">
          <!-- Loading animation -->
          <div *ngIf="isLoadingGetMovies" class="level">
            <div class="level-item">
              <span class="loader is-size-2"></span>
            </div>
          </div>

          <table class="table" *ngIf="movies.length > 0">
            <thead>
              <tr>
                <th>Title</th>
                <th>Director</th>
                <th class="is-hidden-mobile">ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movie of movies">
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td class="is-hidden-mobile">{{ movie.id }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
