<section class="section">
  <div class="container">
    <h1 class="title">Books</h1>
    <p class="subtitle">This page interacts with a CRUD API</p>

    <div class="card">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          Books
        </h2>

        <button
          class="button is-primary card-header-icon my-auto mr-2"
          [class.is-loading]="isLoadingGetBooks"
          (click)="getBooks()"
          title="Reload"
        >
          <span class="icon">
            <i class="fas fa-arrows-rotate"></i>
          </span>
          <span>Reload</span>
        </button>
      </header>

      <div class="card-content">
        <div class="content">
          <!-- Loading animation -->
          @if (isLoadingGetBooks) {
          <div class="level">
            <div class="level-item">
              <span class="loader is-size-2"></span>
            </div>
          </div>
          }

          <!-- Error message -->
          @if (shouldShowGetBooksError) {
          <article class="message is-danger">
            <div class="message-header">
              <p>Error</p>
            </div>
            <div class="message-body">
              Unable to retrieve books. Please try again with the reload button
              in the top right.
            </div>
          </article>
          } @if (books.length > 0) {
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th class="is-hidden-mobile">ID</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                @for (book of books; track book) {
                <tr>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td class="is-hidden-mobile">{{ book.id }}</td>
                  <td>
                    <button
                      class="button is-danger"
                      (click)="deleteBook(book.id)"
                      [ngClass]="{
                        'is-loading': book.id == loadingDeleteBookForId
                      }"
                    >
                      <span class="icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          Add Book
        </h2>
      </header>

      <div class="card-content">
        <div class="content">
          <form #addBookForm="ngForm">
            <div class="field">
              <label class="label" for="title">Title</label>
              <div class="control">
                <input
                  class="input form-control"
                  type="text"
                  name="title"
                  id="title"
                  [(ngModel)]="addBookModel.title"
                  required
                  placeholder="The Great Gatsby"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Author</label>
              <div class="control">
                <input
                  class="input form-control"
                  type="text"
                  name="author"
                  id="author"
                  [(ngModel)]="addBookModel.author"
                  required
                  placeholder="F. Scott Fitzgerald"
                />
              </div>
            </div>

            <div class="field is-grouped is-grouped-right">
              <div class="control">
                <button
                  class="button is-primary"
                  [class.is-loading]="isLoadingAddBook"
                  [disabled]="addBookForm.invalid"
                  (click)="addBook()"
                >
                  <span class="icon">
                    <i class="fa fa-check"></i>
                  </span>
                  <span>Submit</span>
                </button>
              </div>
            </div>
          </form>

          <!-- Error message -->
          @if (shouldShowAddBookError) {
          <article class="message is-danger mt-5">
            <div class="message-header">
              <p class="mb-auto">Error</p>
              <button
                class="delete"
                (click)="shouldShowAddBookError = false"
              ></button>
            </div>
            <div class="message-body">
              Unable to add book, please try again.
            </div>
          </article>
          }

          <!-- Success message -->
          @if (shouldShowAddBookSuccess) {
          <article class="message is-success mt-5">
            <div class="message-header">
              <p class="mb-auto">Success</p>
              <button
                class="delete"
                (click)="shouldShowAddBookSuccess = false"
              ></button>
            </div>
            <div class="message-body">
              Book successfully added to the list above.
            </div>
          </article>
          }
        </div>
      </div>
    </div>
  </div>
</section>
