<section class="section">
  <div class="container">
    <h1 class="title">Project Component</h1>
    <p class="subtitle">
      Here's an example project showing basic API interaction
    </p>

    <div class="card">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          Books
        </h2>

        <button
          class="button is-primary card-header-icon my-auto mr-2"
          (click)="getBooks()"
          title="Refresh"
        >
          <span class="icon">
            <i class="fas fa-arrows-rotate"></i>
          </span>
        </button>
      </header>

      <div class="card-content">
        <div class="content">
          <!-- Loading animation -->
          <div *ngIf="isLoading" class="level">
            <div class="level-item">
              <span class="loader is-size-2"></span>
            </div>
          </div>

          <!-- Error message -->
          <article class="message is-danger" *ngIf="shouldShowError">
            <div class="message-header">
              <p>Error</p>
            </div>
            <div class="message-body">
              Unable to retrieve books. Please try again with the refresh button
              in the top right.
            </div>
          </article>

          <div *ngIf="books$ | async as books">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th class="is-hidden-mobile">ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of books">
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td class="is-hidden-mobile">{{ book.id }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
