<nav class="navbar is-info" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item" href="/">ZPS</a>
    <a role="button" class="navbar-burger" aria-label="menu" (click)="toggleBurgerAndMenu()">
      <!-- These three spans are the three lines shown as the hamburger icon -->
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/work">Work</a>
      <a class="navbar-item" href="/school">School</a>
      <a class="navbar-item" href="/project">Project</a>
    </div>
  </div>
</nav>