<section class="section">
  <div class="container">
    <h1 class="title">School Experience</h1>

    <div class="card">
      <div class="card-header">
        <h2 class="card-header-title is-size-4">Miami University</h2>

        <img
          src="../../assets/images/Miami.svg"
          class="card-header-icon mr-1 p-2 my-auto"
          style="height: 60px"
        />
      </div>
      <div class="card-content">
        <div class="content">
          <p class="has-text-weight-bold">2017 - 2021</p>
          <ul>
            <li>Bachelor of Science, Software Engineering</li>
            <li>GPA: 3.94</li>
          </ul>

          <p class="has-text-weight-bold">Relevant Coursework</p>
          <ul>
            <li>Web Services</li>
            <li>Cloud Computing & DevOps</li>
            <li>Databases</li>
            <li>IT Project Management</li>
            <li>Web Applications</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-header">
        <h2 class="card-header-title is-size-4">
          Olentangy Orange High School
        </h2>

        <img
          src="../../assets/images/Orange.png"
          class="card-header-icon p-0 mr-2"
          style="height: 60px"
        />
      </div>
      <div class="card-content">
        <div class="content">
          <h2 class="is-size-4">Olentangy Orange High School</h2>
          <p class="has-text-weight-bold">2013 - 2017</p>
        </div>
      </div>
    </div>
  </div>
</section>
