<section class="section">
  <div class="container">
    <h1 class="title">Welcome To My Portfolio</h1>

    <div class="card">
      <div class="card-content">
        <div class="content">
          <p>
            Thanks for taking the time to check this out. This is intended to be
            a small showcase of my work and background. It's been enjoyable to
            have a full tech stack that I completely own to test out things I've
            learned from college and my career.
          </p>
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-content">
        <div class="content">
          <p class="has-text-weight-bold">This project has three main parts:</p>
          <ul>
            <li>
              Angular frontend with a Bulma CSS framework, deployed with Azure
              App Service
            </li>
            <li>C# microservice backend, built as an Azure Function APP</li>
            <li>Cosmos NoSQL database</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
