<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column">
        <h1 class="title">Grocery List</h1>
      </div>
      <div class="column is-narrow has-text-right">
        <button class="button is-primary" (click)="refresh()">Refresh</button>
      </div>
    </div>

    @for (section of dayState.sections; track section) {
    <div class="card mt-5">
      <header class="card-header">
        <h2 class="card-header-title is-size-4 has-text-weight-medium">
          {{ section.name }}
        </h2>
      </header>

      <div class="card-content">
        <div class="content">
          @for (item of section.items; track item) {
          <app-grocery-item
            [groceryItem]="item"
            (itemChecked)="handleItemChecked(section, $event)"
            (itemDeleted)="handleItemDeleted(section, $event)"
          />
          }

          <form>
            <div class="control">
              <input
                class="input form-control"
                #itemInput
                placeholder="Add item"
              />
            </div>

            <button (click)="addItem(itemInput, section)" hidden></button>
          </form>
        </div>
      </div>
    </div>
    }

    <!--  Add Section  -->
    <div class="card mt-5">
      <div class="card-content">
        <div class="content">
          <form>
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" #sectionInput placeholder="Add section" />
              </p>

              <button
                class="button is-primary"
                (click)="addSection(sectionInput)"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
